/**
 * Developed by Radoslav Bley
 *
 * Table of Contents:
  * 01. Color vars
  * 02. Base Styling
  * 03. Containers
  * 04. Sections
  * 05. Overlay Effects
  * 06. Text
  * 07. Dividers
  * 08. Images
  * 09. Animations
  * 10. Header
  * 11. Hero Section
  * 12. Availability status
  * 13. Boxes
  * 14. Table
  * 15. Footer
   */

@media (prefers-color-scheme: dark) {
  /*!========================================================================
 * 01. Color vars
 * ======================================================================!*/

  :root {
    /* Background */
    --bg-color: rgba(10, 10, 10, 1);
    --bg-color-2: rgba(10, 10, 10, 0.1);

    /* Text */
    --text-color: rgba(245, 248, 253, 1);
    --text-color-2: rgba(245, 248, 253, 0.6);
    --text-color-3: rgba(245, 248, 253, 0.3);

    /* Overlay */
    --overlay: rgba(255, 255, 255, 0.05);

    /* Menu Color */
    --menu-color: rgba(245, 248, 253, 1);
  }

  /*!========================================================================
   * 02. Base Styling
   * ======================================================================!*/

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  /*!========================================================================
   * 03. Containers
   * ======================================================================!*/

  /*!========================================================================
   * 04. Sections
   * ======================================================================!*/

  /*!========================================================================
   * 05. Overlay Effects
   * ======================================================================!*/

  .overlay {
    background-color: var(--overlay);
  }

  /*!========================================================================
   * 06. Text
   * ======================================================================!*/

  a {
    color: var(--text-color-2);
  }
  a:active,
  a:hover {
    color: var(--text-color);
  }

  /*!========================================================================
   * 07. Dividers
   * ======================================================================!*/

  .divider {
    background-color: var(--bg-color);
  }

  /*!========================================================================
   * 08. Images
   * ======================================================================!*/

  .inverted {
    filter: invert(100%);
  }

  /*!========================================================================
   * 09. Animations
   * ======================================================================!*/

  /*!========================================================================
   * 10. Header
   * ======================================================================!*/

  .nav ul li a {
    color: var(--text-color);
  }
  .logo img.logo-light {
    display: none;
  }
  .logo img.logo-dark {
    display: block;
  }

  /*!========================================================================
   * 11. Hero Section
   * ======================================================================!*/

  .hero-section {
    background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 1) 0%,
      rgba(10, 10, 10, 1) 100%
    );
  }

  /*!========================================================================
   * 12. Availability status
   * ======================================================================!*/

  #status-shape {
    border: 1px solid rgba(220, 224, 223, 0.2);
  }

  /*!========================================================================
   * 13. Boxes
   * ======================================================================!*/

  .service-box {
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
  .header-text::before {
    background-color: var(--text-color-3);
  }
  .service-box ul li::before {
    background-color: rgba(245, 248, 253, 0.5);
  }
  .service-box .number {
    color: rgba(245, 248, 253, 0.5);
  }

  /*!========================================================================
   * 14. Table
   * ======================================================================!*/

  thead th {
    border-bottom: 1px solid var(--bg-color-2);
  }
  tr {
    border-bottom: 1px solid var(--bg-color-2);
  }
  .table_no-outer-borders tr {
    border-bottom: 1px solid var(--bg-color-2);
  }
  .table_no-outer-borders td {
    border: 1px solid var(--bg-color-2);
  }

  /*!========================================================================
   * 15. Footer
   * ======================================================================!*/
}
