/**
 * Developed by Radoslav Bley
 *
*/

@media (prefers-color-scheme: dark) {
  /*!========================================================================
 * 01. Variables
 * ======================================================================!*/

  :root {
    /*!========================================================================
 * Backgrounds */

    --bg-color: #000000;
    --bg-footer: #1e1e1e;
    --bg-box: #1e1e1e;

    /*!========================================================================
 * Text */

    --text-primary: #ffffff;
    --text-secondary: #919191;
    --section-heading: #696969;

    /*!========================================================================
 * Custom Palette */

    --secondary-color: #ffffff;
    --secondary-color-2: rgba(255, 255, 255, 0.2);
    --final-color: #202020;

    /*!========================================================================
 * Navigation */

    --nav-color: rgba(0, 0, 0, .2);
    --menu-color: rgba(245, 248, 253, 1);
    --menu-divider: rgba(245, 248, 253, 0.1);

    /*!========================================================================
 * Dividers */

    --section-divider: #696969;
  }

  /*!========================================================================
 * 02. Base Styling
 * ======================================================================!*/

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  /*!========================================================================
 * 03. Containers
 * ======================================================================!*/

  .service-box ul li::before {
    background-color: rgba(245, 248, 253, 0.5);
  }

  /*!========================================================================
 * 09. Shapes/Buttons
 * ======================================================================!*/

  #status-shape {
    border: 1px solid rgba(220, 224, 223, 0.2);
  }

  /*!========================================================================
 * 11. Images
 * ======================================================================!*/
  .marquee__group .logo {
    filter: invert(1);
    background-color: #e1e1e1;
  }
}
