/**
 * Developed by Radoslav Bley
 *
 * Table of Contents:
  * 01. Color vars
  * 02. Base Styling
  * 03. Containers
  * 04. Sections
  * 05. Overlay Effects
  * 06. Text
  * 07. Dividers
  * 08. Images
  * 09. Animations
  * 10. Header
  * 11. Hero Section
  * 12. Availability status
  * 13. Boxes
  * 14. Table
  * 15. Footer
   */

/*!========================================================================
 * 01. Color vars
 * ======================================================================!*/

:root {
  /* Background */
  --bg-color: rgba(245, 248, 253, 1);
  --bg-color-2: rgba(245, 248, 253, 0.1);

  /* Text */
  --text-color: rgba(10, 10, 10, 1);
  --text-color-2: rgba(10, 10, 10, 0.6);
  --text-color-3: rgba(10, 10, 10, 0.3);
  --text-color-footer-1: rgba(245, 248, 253, 1);
  --text-color-footer-2: rgba(245, 248, 253, 0.6);
  --text-color-accent: rgba(237, 28, 36, 1);
  --box-number-color: rgba(0, 0, 0, 0.05);

  /* Logo */
  --primary-color: #ed1c24;
  --secondary-color: #231f20;
  --primary-color-2: rgba(237, 28, 36, 0.2);
  --secondary-color-2: rgba(35, 31, 32, 0.2);
  --final-color: #e1e4e9;

  /* Grid */
  --grid-color: rgba(245, 248, 253, 0.6);

  /* Overlay */
  --overlay: rgba(0, 0, 0, 0.05);

  /* Accent */
  --accent-color: rgba(237, 28, 36, 1);

  /* Menu Color */
  --menu-color: rgba(10, 10, 10, 1);
  --menu-divider: rgba(10, 10, 10, 0.1);

  /* Divider */
  --divider: rgba(10, 10, 10, 1);
  --f-divider: rgba(255, 255, 255, 0.2);

  /* Service Box */
  --box-bg: radial-gradient(
      circle at bottom right,
      rgba(10, 10, 10, 0.1),
      transparent
    );

  /* Social Icons */
  --social-color: rgba(128, 128, 128, 0.5);

  /* Status Light */
  --status-light-red: rgba(237, 28, 36, 1);
  --status-light-green: limegreen;
  --status-border-red: rgba(237, 28, 36, 0.2);
  --status-border-green: rgba(50, 205, 50, 0.2);

  /* Clients */
  --size: clamp(10rem, 1rem + 30vmin, 20rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
  --box-color: rgba(128, 128, 128, 0.1);
}

/*!========================================================================
 * 02. Base Styling
 * ======================================================================!*/

html {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.content {
  padding: 20px;
}

/*!========================================================================
 * 03. Containers
 * ======================================================================!*/

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  transition: all 0.3s ease;
  z-index: 10;
}

.container:first-child {
  padding-top: 80px;
}

.container:last-child {
  padding-bottom: 80px;
}

.container.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container.left {
  justify-content: flex-start;
  text-align: left;
}

.container row #top {
  position: absolute;
  top: 0;
}
.container row #bottom {
  position: absolute;
  bottom: 0;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 40px;
}

#youtube-video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible; /* Add this line */
}

#youtube-video button {
  background: transparent;
  border: none;
  position: absolute;
  width: 90px;
  height: 90px;
  cursor: pointer;
}

#youtube-video button:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 63px;
  background-image: url("/img/assets/youtube/YouTube_play_button_icon_\(2013–2017\).svg");
  background-size: cover;
}

.video-container iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/*!========================================================================
 * 04. Sections
 * ======================================================================!*/

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

.header-section {
  height: 150px;
}

/*!========================================================================
 * 05. Overlay Effects
 * ======================================================================!*/

.overlay {
  background-color: var(--overlay);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

/*!========================================================================
 * 06. Text
 * ======================================================================!*/

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.woff2") format("woff2"),
    url("/fonts/Inter-Variable.woff") format("woff");
  font-display: swap;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin: 50px 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: color 0.3s ease;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: color 0.3s ease;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: color 0.3s ease;
}

h4 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: color 0.3s ease;
}

h5 {
  font-size: 18px;
  font-weight: 200;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: color 0.3s ease;
}

h6 {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: color 0.3s ease;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  color: var(--text-color-2);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  outline-width: 0;
  color: var(--text-color);
  transition: color 0.3s ease;
}

p {
  font-weight: 200;
  transition: color 0.3s ease;
}

.highlighted-text {
  color: var(--accent-color);
  font-weight: 700;
}

#policy ul {
  list-style-type: circle;
  padding-left: 40px;
}

#policy h2 {
  font-weight: 500;
}

strong {
  font-weight: 500;
}

.headline {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.headline h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: color 0.3s ease;
}

/*!========================================================================
 * 07. Dividers
 * ======================================================================!*/

/* General divider */
.divider {
  width: 0;
  height: 1px;
  background-color: var(--divider);
  overflow: hidden;
}

.divider.reveal {
  animation: reveal 1s forwards;
}

@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 150px;
  }
}

/*!========================================================================
 * 08. Images
 * ======================================================================!*/

/* Logo */
#part1 {
  fill: var(--secondary-color);
}

#part2 {
  fill: var(--primary-color);
}

.inverted {
  filter: invert(1);
}

/* General */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease;
}

/*!========================================================================
 * 09. Animations
 * ======================================================================!*/

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-in-blurred-bottom {
  -webkit-animation: none;
  animation: none;
  opacity: 0;
}

.slide-in-blurred-bottom.reveal {
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*!========================================================================
 * 10. Header
 * ======================================================================!*/

.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 1200px;
  height: 30px;
  margin: 0 auto;
  padding: 20px 20px;
  font-weight: 500;
}

.header.sticky {
  background-color: var(--bg-color-2);
  box-shadow: var(--menu-divider) 0px 1px 0px 0px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li:first-child {
  margin-left: 0;
}

.nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.subheader {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 80px 0 0 0;
}

.subheader h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.subheader p {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  margin: 20px 0;
}

/*!========================================================================
 * 11. Hero Section
 * ======================================================================!*/

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background: linear-gradient(
    0deg,
    rgba(245, 248, 253, 1) 0%,
    rgba(231, 234, 241, 1) 100%
  );
}

.anilogo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anilogo .icon {
  position: absolute;
  width: 600px;
  top: 40px;
}

.anilogo .icon #b {
  stroke: var(--secondary-color-2);
  stroke-width: 3px;
  stroke-dashoffset: -3000;
  stroke-dasharray: 3000;
}

.anilogo .icon #b.is-active {
  animation-name: iconB;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.anilogo .icon #r {
  stroke: var(--primary-color-2);
  stroke-width: 3px;
  stroke-dashoffset: -3000;
  stroke-dasharray: 3000;
}

.anilogo .icon #r.is-active {
  animation-name: iconR;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes iconR {
  50% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  75% {
    fill: transparent;
    stroke-width: 3px;
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--final-color);
    stroke-width: 0px;
  }
}

@keyframes iconB {
  50% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  75% {
    fill: transparent;
    stroke-width: 3px;
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--final-color);
    stroke-width: 0px;
  }
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .anilogo .icon {
    width: 600px;
  }
}

@media (max-width: 992px) {
  .anilogo .icon {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .anilogo .icon {
    width: 1050px;
    top: -110px;
    left: 20px;
  }
}

@media (max-width: 576px) {
  .anilogo .icon {
    width: 1100px;
    top: -100px;
  }
}

.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.vertical-lines, .horizontal-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vertical-lines div, .horizontal-lines div {
  position: absolute;
  background-color: var(--grid-color);
  animation: draw 2s ease-out forwards;
}

.vertical-lines div {
  width: 2px;
  height: 0;
  animation-name: drawVertical;
}

.horizontal-lines div {
  width: 0;
  height: 2px;
  animation-name: drawHorizontal;
}

@keyframes drawVertical {
  to {
    height: 100%;
  }
}

@keyframes drawHorizontal {
  to {
    width: 100%;
  }
}

/*!========================================================================
 * 12. Availability status
 * ======================================================================!*/

.status-content {
  display: flex;
  align-items: center;
}

#status-shape {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(35, 31, 32, 0.2);
  border-radius: 40px;
  padding: 7px 10px 7px 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 1;
}

.status-light {
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border-radius: 10px;
  animation: flicker 1s linear infinite;
  z-index: 1;
}

.not-available {
  background-color: var(--status-light-red);
  box-shadow: 0 0 10px var(--status-border-red);
}

.available {
  background-color: var(--status-light-green);
  box-shadow: 0 0 10px var(--status-border-green);
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    text-shadow: none;
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

#status-shape p {
  font-weight: 300;
  font-size: 12px;
  color: var(--h1-color);
  margin: 0;
  padding-left: 15px;
  padding-right: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*!========================================================================
 * 13. Boxes
 * ======================================================================!*/

.service-box {
  padding: 20px 40px;
  border-radius: 20px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, .1);
  transition: all 0.3s ease-out;
  text-align: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: var(--box-bg);
}

.service-box h2 {
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: bold;
}

.header-text {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.header-text::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -1px;
  width: 0;
  height: 2px;
  background-color: var(--text-color-3);
  border-radius: 2px;
  transition: width 0.3s ease-out;
}

.header-text:hover::before {
  width: 100%;
}

.footer-text {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.footer-text::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -1px;
  width: 0;
  height: 2px;
  background-color: var(--text-color-footer-2);
  border-radius: 2px;
  transition: width 0.3s ease-out;
}

.footer-text:hover::before {
  width: 100%;
}

.service-box ul {
  list-style-type: none;
  padding-left: 10px;
}

.service-box ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
  font-weight: 200;
  color: var(--text-color);
}

.service-box ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(26, 29, 36, 0.5);
}

.service-box .number {
  position: absolute;
  bottom: -0.4em;
  right: -0.2em;
  font-size: 10rem;
  font-weight: 900;
  color: var(--box-number-color) !important;
  white-space: nowrap;
  pointer-events: none;
}

/*!========================================================================
 * 14. Footer
 * ======================================================================!*/

.footer {
  background-color: black;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-top,
.footer-top2 {
  display: flex;
  justify-content: space-between;
}

.footer-top h2,
.footer-top2 h2 {
  color: var(--text-color-footer-1);
  font-size: 32px;
  font-weight: 200;
}

.footer-top2 h2 a {
  color: var(--text-color-footer-2);
  text-decoration: none;
}

.footer-top2 h2 a:hover {
  color: var(--text-color-footer-1);
}

.footer-section {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding: 20px 0;
  border-top: 1px solid var(--f-divider);
  border-bottom: 1px solid var(--f-divider);
}

.footer-section h3 {
  margin-bottom: 20px;
  color: var(--text-color-footer-1);
  font-size: 18px;
  font-weight: 400;
}

.footer-section ul {
  list-style: none;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  font-weight: 200;
}

.footer-section li,
.footer-section p,
.footer-section a {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--text-color-footer-2);
}

.footer-section li:active,
.footer-section p:active,
.footer-section a:active,
.footer-section li:hover,
.footer-section p:hover,
.footer-section a:hover {
  outline-width: 0;
  color: var(--text-color-footer-1);
}

.subfooter-section {
  display: flex;
  justify-content: space-between;
}

.copyright-text p {
  color: var(--f-divider);
  font-size: 14px;
  font-weight: 400;
}

.social-buttons {
  text-align: center;
}

.social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  fill: var(--social-color);
  font-size: 18px;
  font-weight: normal;
  line-height: 2.3em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
}

.social-buttons .social-button svg {
  width: 18px; /* Adjust the size as needed */
  height: 18px; /* Adjust the size as needed */
}

.social-buttons .social-button:hover,
.social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.social-buttons .social-button.behance {
  background: transparent;
}

.social-buttons .social-button.behance:hover,
.social-buttons .social-button.behance:focus {
  fill: #1769ff;
  background: #fefefe;
  border-color: #1769ff;
}

.social-buttons .social-button.twitter {
  background: transparent;
}

.social-buttons .social-button.twitter:hover,
.social-buttons .social-button.twitter:focus {
  fill: #14171a;
  background: #fefefe;
  border-color: #657786;
}

.social-buttons .social-button.github {
  background: transparent;
}

.social-buttons .social-button.github:hover,
.social-buttons .social-button.github:focus {
  fill: #333;
  background: #fefefe;
  border-color: #333;
}

.social-buttons .social-button.youtube {
  background: transparent;
}

.social-buttons .social-button.youtube:hover,
.social-buttons .social-button.youtube:focus {
  fill: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

/*!========================================================================
 * 15. Clients Section
 * ======================================================================!*/

.marquee {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  gap: var(--gap);
  -webkit-mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

/* Element styles */
.marquee__group .logo {
  display: grid;
  place-items: center;
  width: var(--size);
  background: var(--box-color);
  aspect-ratio: 16/9;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100%;
}

/*!========================================================================
 * 16. Localization banner
 * ======================================================================!*/

#localization-banner {
  background: var(--bg-color);
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping */
}

#localization-banner-body {
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping */
}

#localization-banner p {
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-color);
  flex: 1;
  min-width: 200px; /* Ensure minimum width */
}

#country-select {
  padding: 8px;
  margin: 0 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.confirm-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.confirm-button:hover {
  background: #0056b3;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--menu-color);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-button:hover {
  color: var(--accent-color);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  #localization-banner p {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }

  #localization-banner select,
  #localization-banner button {
    width: 100%;
    margin: 5px 0;
  }

  .close-button {
    top: 10px;
    right: -45%;
  }
}
