/**
 * Developed by Radoslav Bley
 *
 * Table of Contents:
  * 00. General
  * 01. Mobile Phones
  * 02. Tablets
  * 03. Laptops
  * 04. Desktops
  * 05. Extra Large Devices
  * 06. Safe Area
   */

/*!========================================================================
   * 00. General
   * ======================================================================!*/

@media (orientation: portrait) {}

@media (orientation: landscape) {
  /* .nav-container,
  .mobile-menu-container,
  .menu-socials {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  } */
}

/*!========================================================================
   * 01. Mobile Phones
   * ======================================================================!*/

@media (max-width: 575.98px) {
  :root {
    --secondary-padding: 5%;
  }

  .subfooter {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .copyright-text {
    order: 2;
  }

  .social-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    order: 1;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    height: 100%;
    padding: 1rem;
  }

  #fullscreen-menu .social-buttons {
    border-bottom: none;
    padding-left: calc(var(--secondary-padding) + 2rem);
  }

  #sitemap .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-content-container {
    text-align: center;
  }

  .card {
    width: 95%;
    max-width: 400px;
  }

  .section-heading h1 {
    font-size: 1.5em;
  }

  #fullscreen-menu .mobile-nav ul {
    flex-direction: column;
    gap: 2rem;
    padding-left: calc(var(--secondary-padding) + 2rem);
    padding-right: var(--secondary-padding);
    margin-top: 10%;
  }

  .about-container {
    flex-direction: column;
  }

  .about-text {
    width: 100%;
  }

  .about-image {
    width: 100%;
    margin-top: 2rem;
  }

  .gradient {
    width: 30vw;
  }

  .arrow {
    display: none;
  }

  .item {
    width: 50px;
    height: 70%;
  }

  .items {
    gap: 0.4rem;
  }
}

/*!========================================================================
   * 02. Tablets
   * ======================================================================!*/

@media (min-width: 576px) and (max-width: 767.98px) {
  #fullscreen-menu .mobile-nav ul {
    flex-direction: column;
  }

  .item {
    width: 40px;
    height: 60%;
  }

  .high-item {
    height: 80%;
  }
}

/*!========================================================================
   * 03. Laptops
   * ======================================================================!*/

@media (min-width: 768px) and (max-width: 991.98px) {
}

/*!========================================================================
   * 04. Desktops
   * ======================================================================!*/

@media (min-width: 992px) and (max-width: 1199.98px) {
  .arrow {
    display: none;
  }

  .card-container {
    justify-content: space-between;
  }
}

/*!========================================================================
   * 05. Extra Large Devices
   * ======================================================================!*/

@media (min-width: 1200px) {
  .arrow {
    display: none;
  }

  .card-container {
    justify-content: space-between;
  }
}

/*!========================================================================
   * 06. Safe Area
   * ======================================================================!*/

/* @supports (padding: env(safe-area-inset-top)) {
  header,
  .container {
    padding-top: calc(5rem + env(safe-area-inset-top));
    padding-left: calc(5% + env(safe-area-inset-left));
    padding-right: calc(5% + env(safe-area-inset-right));
    padding-bottom: calc(5rem + env(safe-area-inset-bottom));
  }

  .nav-container {
    padding-left: calc(5% + env(safe-area-inset-left));
    padding-right: calc(5% + env(safe-area-inset-right));
  }
} */