/**
 * Developed by Radoslav Bley
 *
 * Table of Contents:
  * 00. General
  * 01. Mobile Phones
  * 02. Tablets
  * 03. Laptops
  * 04. Desktops
  * 05. Extra Large Devices
  * 06. Safe Area
   */

/*!========================================================================
   * 00. General
   * ======================================================================!*/

@media (orientation: portrait) {
  .anilogo .icon {
    width: 70%;
  }
}

@media (orientation: landscape) {
  .anilogo .icon {
    height: 70%;
  }
  .nav-container,
  .footer-container,
  .mobile-menu-container,
  .menu-socials {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

/*!========================================================================
   * 01. Mobile Phones
   * ======================================================================!*/

@media (max-width: 575.98px) {
  .services {
    grid-template-columns: 1fr;
  }
  .nav {
    display: none;
  }
  .subfooter {
    flex-direction: column;
    align-items: center;
  }
  .footer-middle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .copyright-text {
    order: 2;
  }
  .social-buttons {
    order: 1;
  }
  #sitemap .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*!========================================================================
   * 02. Tablets
   * ======================================================================!*/

@media (min-width: 576px) and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}

/*!========================================================================
   * 03. Laptops
   * ======================================================================!*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .nav {
    display: none;
  }
}

/*!========================================================================
   * 04. Desktops
   * ======================================================================!*/

@media (min-width: 992px) and (max-width: 1199.98px) {
  .hamburger-menu {
    display: none;
  }
}

/*!========================================================================
   * 05. Extra Large Devices
   * ======================================================================!*/

@media (min-width: 1200px) {
  .hamburger-menu {
    display: none;
  }
}

/*!========================================================================
   * 06. Safe Area
   * ======================================================================!*/

@supports (padding: env(safe-area-inset-top)) {
  .container,
  header {
    padding-top: calc(2rem + env(safe-area-inset-top));
    padding-left: calc(2rem + env(safe-area-inset-left));
    padding-right: calc(2rem + env(safe-area-inset-right));
    padding-bottom: calc(2rem + env(safe-area-inset-bottom));
  }
}
