:root {
  /* Background */
  --bg-color-light: rgba(245, 248, 253, 1);
  --bg-color-light-2: rgba(245, 248, 253, 0.1);
  --bg-color-dark: rgba(10, 10, 10, 1);
  --bg-color-dark-2: rgba(10, 10, 10, 0.1);

  /* Text */
  --text-color-light: rgba(245, 248, 253, 1);
  --text-color-light-2: rgba(245, 248, 253, 0.1);
  --text-color-light-3: rgba(245, 248, 253, 0.3);
  --text-color-dark: rgba(10, 10, 10, 1);
  --text-color-dark-2: rgba(10, 10, 10, 0.1);
  --text-color-dark-3: rgba(10, 10, 10, 0.3);
  --text-color-accent: rgba(237, 28, 36, 1);

  /* Accent */
  --accent-color: rgba(237, 28, 36, 1);

  /* Status Light */
  --status-light-red: rgba(237, 28, 36, 1);
  --status-light-green: limegreen;
  --status-border-red: rgba(237, 28, 36, 0.2);
  --status-border-green: rgba(50, 205, 50, 0.2);
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
  text-transform: lowercase;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
  transition: background-color 0.5s ease, color 0.5s ease;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  .overlay {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.section {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.container-m {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content {
  padding: 20px;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 34px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px; /* Adjust the font size for mobile */
  }
}

h2 {
  font-size: 30px;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 18px; /* Adjust the font size for mobile */
  }
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 18px; /* Adjust the font size for mobile */
  }
}

h4 {
  font-size: 20px;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 18px; /* Adjust the font size for mobile */
  }
}

h5 {
  font-size: 18px;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  h5 {
    font-size: 16px; /* Adjust the font size for mobile */
  }
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h6 {
    font-size: 16px; /* Adjust the font size for mobile */
  }
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

ul {
  margin: 0;
  padding: 0;
}
a {
  background-color: transparent;
  color: var(--text-color-dark-3);
  text-decoration: none;
  transition: color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--text-color-light-3);
  }
}

a:active,
a:hover {
  outline-width: 0;
  color: var(--text-color-dark);
}

@media (prefers-color-scheme: dark) {
  a:active,
  a:hover {
    color: var(--text-color-light);
  }
}

.highlighted-text {
  color: var(--accent-color);
  font-weight: bold;
}

/* Your custom CSS styles start here */
/* Add your styles below this line */

/* Animations */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-in-blurred-bottom {
  -webkit-animation: none; /* Remove the animation */
  animation: none; /* Remove the animation */
  opacity: 0; /* Initially hide the element */
}

.slide-in-blurred-bottom.reveal {
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both; /* Apply animation when revealed */
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both; /* Apply animation when revealed */
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* Header */
.header {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  background-color: transparent;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.logo {
  display: flex;
}

.logo img {
  max-width: 100px; /* Adjust the max-width as needed */
  display: none; /* Hide both logo images by default */
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav ul li {
  margin-left: 20px; /* Adjust the spacing between links */
}

.nav ul li:first-child {
  margin-left: 0; /* Remove margin from the first link */
}

.nav ul li a {
  text-decoration: none;
  color: var(--text-color-dark); /* Adjust link color as needed */
}

@media (prefers-color-scheme: dark) {
  .nav ul li a {
    color: var(--text-color-light);
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  .logo img.logo-light {
    display: block; /* Show light mode logo */
  }
  .logo img.logo-dark {
    display: none; /* Hide dark mode logo */
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .logo img.logo-light {
    display: none; /* Hide light mode logo */
  }
  .logo img.logo-dark {
    display: block; /* Show dark mode logo */
  }
}

/* Hero */
.hero-section {
  margin-top: -150px;
  padding-top: 100px;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(245, 248, 253, 1) 0%,
    rgba(231, 234, 241, 1) 100%
  );
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  .hero-section {
    background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 1) 0%,
      rgba(10, 10, 10, 1) 100%
    );
  }
}

.hero-image {
  padding-top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .hero-image {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-image {
    margin-bottom: 100px;
  }
}

.hero-content {
  margin-bottom: 10%;
  z-index: 2;
}

.hero-position {
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

@media only screen and (max-width: 1024px) {
  .hero-content {
    padding-bottom: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-content {
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-text h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-text h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-text h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-text h3 {
    font-size: 18px;
  }
}

/* Project Status */
.status-content {
  display: flex;
  align-items: center;
}

#status-shape {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(35, 31, 32, 0.2);
  border-radius: 40px;
  padding: 7px 15px 7px 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (prefers-color-scheme: dark) {
  #status-shape {
    border: 1px solid rgba(220, 224, 223, 0.2);
  }
}

.status-light {
  width: 12px;
  height: 4px;
  margin-left: 10px;
  background-color: var(--status-light-red);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--status-light-red);
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    text-shadow: none;
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

#status-shape p {
  font-weight: 300;
  font-size: 12px;
  color: var(--h1-color-dark);
  margin: 0;
  padding-left: 15px;
  padding-right: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media only screen and (max-width: 600px) {
  #status-shape p {
    font-size: 10px;
  }
}

/* Divider */
.divider {
  width: 0;
  height: 1px;
  background-color: var(--bg-color-dark);
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .divider {
    background-color: var(--bg-color-light);
  }
}

.divider.reveal {
  animation: reveal 1s forwards; /* Apply animation when revealed */
}

@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 150px; /* Adjust to match the final width */
  }
}

.services .divider {
  margin: 0 auto;
}

.center-container .divider {
  margin: 0 auto;
}

.about-image {
  display: block;
  margin: 0 auto;
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 1200px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(3, auto); /* Two rows */
  gap: 40px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fill, auto); /* Two rows */
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: repeat(auto-fill, auto); /* Two rows */
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-template-rows: repeat(auto-fill, auto); /* Two rows */
    gap: 10px;
  }
}

.circle-with-line {
  position: relative; /* Position relative to allow absolute positioning */
  width: 80px; /* Set width and height to create a circle */
  height: 80px;
  border-radius: 50%; /* Use border-radius property with 50% to create a circle */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

@media screen and (max-width: 1024px) {
  .circle-with-line {
    width: 60px; /* Set width and height to create a circle */
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .circle-with-line {
    width: 40px; /* Set width and height to create a circle */
    height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .circle-with-line {
    width: 40px; /* Set width and height to create a circle */
    height: 40px;
  }
}

.circle-with-line::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position the line absolutely */
  top: 50%; /* Align the line vertically */
  left: 20%; /* Position the line closer to the center of the circle */
  width: 60%; /* Set the width of the line to half the diameter of the circle */
  height: 10px; /* Set the height of the line */
  background-color: #fff; /* Set the color of the line */
  border-radius: 5px; /* Set the border-radius to half of the height to create pill shape */
  transform: translateY(-50%); /* Center the line vertically */
}

@media screen and (max-width: 1024px) {
  .circle-with-line::before {
    height: 8px;
  }
}

@media screen and (max-width: 768px) {
  .circle-with-line::before {
    height: 6px;
  }
}

@media screen and (max-width: 480px) {
  .circle-with-line::before {
    height: 4px;
  }
}

/* Service Box */

.service-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto; /* Fixed height for rows */
  gap: 40px;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center the grid horizontally */
  align-content: center; /* Center the grid vertically */
}

.service-box {
  width: 80%;
  height: 330px;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .service-box {
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}

.service-box h2 {
  margin-bottom: 50px;
  font-size: 26px;
}

/* Style for the header text */
.header-text {
  position: relative; /* Required for positioning the pseudo-element */
  display: inline-block; /* Ensures the pseudo-element only spans the width of the text */
  text-decoration: none; /* Removes default underline */
  color: inherit; /* Inherits the color from parent element */
}

/* Pseudo-element to create the underline */
.header-text::before {
  content: "";
  position: absolute;
  bottom: -2px; /* Position the underline just below the text */
  left: -1px; /* Adjusted left position */
  width: 0; /* Initial width of the underline */
  height: 2px; /* Increased height for a pill shape */
  background-color: var(--bg-color-dark-2); /* Color of the underline */
  border-radius: 2px; /* Border radius for pill shape */
  transition: width 0.3s ease-out; /* Transition effect for the width */
}

@media (prefers-color-scheme: dark) {
  .header-text::before {
    background-color: var(--bg-color-light-2);
  }
}

/* Hover effect to reveal the underline from left to right */
.header-text:hover::before {
  width: 100%; /* Reveals the underline to full width on hover */
}

.service-box ul {
  list-style-type: none;
}

.service-box ul li {
  position: relative;
  padding-left: 50px; /* Space for the line */
  margin-bottom: 30px; /* Adjust spacing between lines */
}

.service-box ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px; /* Length of the line */
  height: 4px; /* Thickness of the line */
  border-radius: 2px;
  background-color: rgba(26, 29, 36, 0.5); /* Color of the line */
}

@media (prefers-color-scheme: dark) {
  .service-box ul li::before {
    background-color: rgba(245, 248, 253, 0.5);
  }
}

@media (max-width: 767px) {
  /* Small screens */
  .service-container {
    grid-template-columns: 1fr; /* One box per row */
  }
}

@media (max-width: 1024px) {
  /* Small screens */
  .service-box {
    width: 75%; /* One box per row */
  }
}

.service-box .number {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 14px;
  color: rgba(26, 29, 36, 0.5);
}

@media (prefers-color-scheme: dark) {
  .service-box .number {
    color: rgba(245, 248, 253, 0.5);
  }
}

.center-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  margin: 100px auto;
  padding: 0 20px;
  text-align: center;
}

.table-container {
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
  text-align: center;
}

/* Style for the video */
.video-container {
  margin-top: 50px;
  position: relative;
}

.video-container iframe {
  width: 1000px;
  height: 540px;
}

@media screen and (max-width: 1024px) {
  .video-container iframe {
    max-width: 80%;
    height: 540px;
  }
}

@media screen and (max-width: 768px) {
  .video-container iframe {
    max-width: 80%;
    height: 540px;
  }
}

.clients-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.client-logo {
  width: 100%; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  background-color: #ccc; /* Example background color */
  border: 2px solid #fff; /* White border around each logo */
  border-radius: 8px; /* Rounded corners for logos */
}

/* Hide outside borders */
.clients-section {
  border: 2px solid transparent; /* Hide outside borders */
}

/* Show inside borders */
.client-logo {
  box-shadow: 0 0 0 2px #ccc, /* Inside border */ 0 0 0 4px #fff; /* Outside border (same as background color) */
}

.section-logos__wrapper-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  transition-property: opacity;
  opacity: 0.5;
  filter: saturate(0%);
}
.section-logos__wrapper-logo:hover {
  opacity: 1;
  filter: saturate(100%);
}

@media (prefers-color-scheme: dark) {
  .inverted {
    filter: invert(100%);
  }
}

/*!========================================================================
 * 50. Table
 * ======================================================================!*/

table {
  max-width: 1200px;
  border-collapse: collapse;
  width: 100%;
}

thead th {
  border-bottom: 1px solid var(--bg-color-dark-2);
  padding-bottom: 0.5em;
}

@media (prefers-color-scheme: dark) {
  thead th {
    border-bottom: 1px solid var(--bg-color-light-2);
  }
}

th {
  padding: 1em;
  text-align: left;
}

tr {
  border-bottom: 1px solid var(--bg-color-dark-2);
}

@media (prefers-color-scheme: dark) {
  tr {
    border-bottom: 1px solid var(--bg-color-light-2);
  }
}

td {
  padding: 1em;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.table_no-outer-borders {
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
}
.table_no-outer-borders tr {
  border-collapse: collapse;
  border-style: hidden;
  border: 1px solid var(--bg-color-dark-2);
}

@media (prefers-color-scheme: dark) {
  .table_no-outer-borders tr {
    border-bottom: 1px solid var(--bg-color-light-2);
  }
}

.table_no-outer-borders td {
  padding: 2em;
  border-collapse: collapse;
  border: 1px solid var(--bg-color-dark-2);
}

@media (prefers-color-scheme: dark) {
  .table_no-outer-borders td {
    border: 1px solid var(--bg-color-light-2);
  }
}

@media screen and (max-width: 576px) {
  .table-xs-flex {
    display: block;
  }
  .table-xs-flex tbody,
  .table-xs-flex tr,
  .table-xs-flex td {
    display: block;
  }
  .table-xs-flex.table_no-outer-borders tr {
    border: none;
  }
  .table-xs-flex.table_no-outer-borders td {
    padding: 2em;
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .table-xs-flex.table_no-outer-borders tr:first-child td:first-child {
    margin-top: -2em;
  }
  .table-xs-flex.table_no-outer-borders tr:last-child td:last-child {
    border-bottom: none;
    margin-bottom: -2em;
  }
}

/*!========================================================================
 * 50. Footer
 * ======================================================================!*/

.footer {
  background-color: black;
  padding: 20px;
}

.footer-container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0 0;
}

.footer-top h3,
.footer-top2 h3 {
  font-size: 32px;
  font-weight: 200;
}

.footer-top2 {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  margin: 40px 5px;
}

.subfooter-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.subfooter-section p {
  font-size: small;
  font-weight: 200;
}

.footer-section ul {
  list-style: none;
}

.footer-section li {
  margin: 20px 0 0 0;
}

.footer-section p {
  color: var(--text-color-light-3);
}

.footer-divider {
  border: 1px solid var(--bg-color-light-2);
}

.footer-logo {
  display: inline-flex;
  height: 50px;
  color: var(--text-color-accent);
}

.footer-logo img {
  margin-right: 20px;
}

.social-icons img {
  height: 30px;
}

/* Social Icons */

.svg-inline--fa {
  vertical-align: -0.2em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: var(--text-color-light-3);
  font-size: 18px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-x-twitter,
.fa-behance,
.fa-youtube {
  font-size: 18px;
}

.rounded-social-buttons .social-button.behance {
  background: transparent;
}

.rounded-social-buttons .social-button.behance:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #1769ff;
  background: #fefefe;
  border-color: #1769ff;
}

.rounded-social-buttons .social-button.twitter {
  background: transparent;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #14171a;
  background: #fefefe;
  border-color: #657786;
}

.rounded-social-buttons .social-button.youtube {
  background: transparent;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .footer-container {
    padding: 0 10px;
  }

  .footer-top,
  .footer-top2 {
    text-align: left;
  }

  .footer-section {
    flex-direction: column;
    align-items: left;
  }

  .footer-section h6 {
    padding-bottom: 10px;
  }

  .subfooter-section {
    flex-direction: column;
    align-items: center;
  }

  .footer-section div {
    margin-bottom: 20px;
  }

  .subfooter-section div {
    margin-bottom: 0px;
  }

  .footer-section ul li,
  .subfooter-section ul li {
    margin: 10px 0;
  }

  .subfooter-left {
    order: 2;
  }

  .subfooter-right {
    order: 1;
  }

  .rounded-social-buttons .social-button {
    margin-bottom: 20px;
  }
}
